---
import placeholder from '../../images/placeholder.jpeg';
---

<aside class='p-6 max-w-5xl mx-auto'>
  <section id='latestProjects'>
    <div
      class="relative py-24 after:content-[''] text-center after:w-full after:-z-10 after:h-px after:bg-zinc-200 after:absolute after:inset-x-0 after:inset-y-1/2">
      <h2 class='font-bold z-10 text-xl inline bg-white px-4'>
        آخرین نمونه کار ها
      </h2>
    </div>
    <div class='grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'>
      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 h-6'
                  ><path d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'
                  ></path><circle cx='12' cy='12' r='3'></circle></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>

      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 h-6'
                  ><path d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'
                  ></path><circle cx='12' cy='12' r='3'></circle></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>

      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 h-6'
                  ><path d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z'
                  ></path><circle cx='12' cy='12' r='3'></circle></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id='latestProducts'>
    <div
      class="relative py-24 after:content-[''] text-center after:w-full after:-z-10 after:h-px after:bg-zinc-200 after:absolute after:inset-x-0 after:inset-y-1/2">
      <h2 class='font-bold z-10 text-xl inline bg-white px-4'>آخرین محصولات</h2>
    </div>
    <div class='grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'>
      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 w-6'
                  ><circle cx='9' cy='21' r='1'></circle><circle
                    cx='20'
                    cy='21'
                    r='1'></circle><path
                    d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'
                  ></path></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>

      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 w-6'
                  ><circle cx='9' cy='21' r='1'></circle><circle
                    cx='20'
                    cy='21'
                    r='1'></circle><path
                    d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'
                  ></path></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>

      <div class='relative group overflow-hidden rounded-xl'>
        <a href='/blog/' class='block hover:no-underline'>
          <img src={placeholder} alt='' class='w-auto' />
          <div
            class='absolute w-11/12 mx-auto inset-x-0 mb-4 pl-2 pr-4 py-2 transition-all duration-300 ease-in-out group-hover:bottom-0 -bottom-24 bg-white border-2 border-zinc-800 rounded-xl'>
            <header class='flex justify-between items-center'>
              <h3 class='text-xl font-medium'>عنوان نمونه کار</h3>
              <a
                href='#'
                class='hover:bg-zinc-100 transition-all duration-200 ease-in rounded-full p-3'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='w-6 w-6'
                  ><circle cx='9' cy='21' r='1'></circle><circle
                    cx='20'
                    cy='21'
                    r='1'></circle><path
                    d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'
                  ></path></svg
                >
              </a>
            </header>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section id='latestArticles'>
    <div
      class="relative py-24 after:content-[''] text-center after:w-full after:-z-10 after:h-px after:bg-zinc-200 after:absolute after:inset-x-0 after:inset-y-1/2">
      <h2 class='font-bold z-10 text-xl inline bg-white px-4'>
        آخرین های بلاگ
      </h2>
    </div>
    <div class='grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'>
      <article>
        <a href='#' class='block overflow-hidden'>
          <img
            src={placeholder}
            alt=''
            class='rounded-xl w-full transition-all ease-in-out hover:grayscale'
          />
          <div class='pt-4'>
            <header>
              <a href='#' class='text-sm'>دسته بندی</a>
              <a
                href='#'
                class='transition-all ease-in hover:no-underline hover:opacity-90'>
                <h3 class='font-bold text-2xl'>عنوان پست</h3>
              </a>
            </header>
            <p class='py-4 break-words'>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
              soluta, itaque ipsam maxime officia magni praesentium tempora ipsa
              repudiandae hic dicta omnis ab iste cum consequatur nam id
              consectetur sint.
            </p>
          </div>
          <footer class='text-sm text-zinc-500'>
            <time datetime='۲۰۲۳-۰۳-۱۰'>۱۰ مارس ۲۰۲۳</time>
            <!-- TODO: Calculate the reading time -->
            <span>- خواندن ۲ دقیقه</span>
          </footer>
        </a>
      </article>
      <article>
        <a href='#' class='block overflow-hidden'>
          <img
            src={placeholder}
            alt=''
            class='rounded-xl w-full transition-all ease-in-out hover:grayscale'
          />
          <div class='pt-4'>
            <header>
              <a href='#' class='text-sm'>دسته بندی</a>
              <a
                href='#'
                class='transition-all ease-in hover:no-underline hover:opacity-90'>
                <h3 class='font-bold text-2xl'>عنوان پست</h3>
              </a>
            </header>
            <p class='py-4 break-words'>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
              soluta, itaque ipsam maxime officia magni praesentium tempora ipsa
              repudiandae hic dicta omnis ab iste cum consequatur nam id
              consectetur sint.
            </p>
          </div>
          <footer class='text-sm text-zinc-500'>
            <time datetime='۲۰۲۳-۰۳-۱۰'>۱۰ مارس ۲۰۲۳</time>
            <!-- TODO: Calculate the reading time -->
            <span>- خواندن ۲ دقیقه</span>
          </footer>
        </a>
      </article>
      <article>
        <a href='#' class='block overflow-hidden'>
          <img
            src={placeholder}
            alt=''
            class='rounded-xl w-full transition-all ease-in-out hover:grayscale'
          />
          <div class='pt-4'>
            <header>
              <a href='#' class='text-sm'>دسته بندی</a>
              <a
                href='#'
                class='transition-all ease-in hover:no-underline hover:opacity-90'>
                <h3 class='font-bold text-2xl'>عنوان پست</h3>
              </a>
            </header>
            <p class='py-4 break-words'>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum
              soluta, itaque ipsam maxime officia magni praesentium tempora ipsa
              repudiandae hic dicta omnis ab iste cum consequatur nam id
              consectetur sint.
            </p>
          </div>
          <footer class='text-sm text-zinc-500'>
            <time datetime='۲۰۲۳-۰۳-۱۰'>۱۰ مارس ۲۰۲۳</time>
            <!-- TODO: Calculate the reading time -->
            <span>- خواندن ۲ دقیقه</span>
          </footer>
        </a>
      </article>
    </div>
  </section>
</aside>
