---
import Header from '../components/Header/Header.astro';
import SideBar from '../components/Sidebar/Sidebar.astro';
import Footer from '../components/Footer/Footer.astro';

import '../styles/base.css';

const { title, description, siteName = 'رکسا', contentType = '' } = Astro.props;
---

<html lang='fa'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{`${title} | ${siteName}`}</title>
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <meta property='og:site_name' content={siteName} />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content={contentType} />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:locale' content='fa' />
  </head>
  <body>
    <Header />
    <main class="p-4 flex-1 max-w-5xl mx-auto">
      <slot />
    </main>
    <SideBar />
    <Footer />
  </body>
</html>
